@use "../abstracts";
.contact {
  background-color: var(--contact-bg-color);
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  &-form {
    min-width: 360px;
    max-width: 680px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}
.contact-top {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &__dot {
    margin-right: 10px;
    display: block;
    height: 20px;
    width: 20px;
    background-color: #0050ff;
  }
  &__heading {
    font-weight: 900;
    font-size: 4rem;
  }
}
.form {
  &__container {
    padding: 70px 60px;
    @include abstracts.screen(sm) {
      padding: 30px 20px;
    }
  }
  &__name {
    display: flex;
    gap: 30px;
    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 0;
    }
  }
  &__input-action {
    position: relative;
    height: 65px;
    width: 100%;
    margin-bottom: 50px;
    @include abstracts.screen(sm) {
      margin-bottom: 20px;
    }
  }
  &__label {
    font-weight: 700;
    position: absolute;
    top: -8px;
    left: 10px;
  }
  &__input {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid black;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    width: 100%;
    &-textarea {
      padding: 10px 10px;
    }
    &:focus {
      color: #0050ff;
      border-bottom: 2px solid #0050ff;
    }
  }
  &__submit-btn {
    background-color: #0050ff;
    color: #fff;
    border: 1px solid transparent;
  }
}
